---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts limit:3 %}
      <li>
        <div class="post-meta">Gepost door: {{ post.author }}</div>
        <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
        <div class="post-meta">{{ post.location }}</div>

        <h2>
         {{ post.title }}
        </h2>
        {{ post.content }}
        <br />
      </li>
    {% endfor %}
  </ul>

  {% assign post_count = site.posts | size %}
  
  {%if post_count > 3%}
  <a href="all.html">Bekijk eerdere posts</a>
  {% endif %}

</div>

