---
layout: default
---

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76953921-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="home">

  <ul class="post-list">
    {% for post in site.posts limit:3 %}
      <li>
        <div class="post-meta">Gepost door: {{ post.author }}</div>
        <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
        <div class="post-meta">{{ post.location }}</div>

        <h2>
         {{ post.title }}
        </h2>
        {{ post.content }}
        <br />
      </li>
    {% endfor %}
  </ul>

  {% assign post_count = site.posts | size %}
  
  {%if post_count > 3%}
  <a href="all.html">Bekijk eerdere posts</a>
  {% endif %}

</div>

